/*
 Website: RMC
 Author: Zack
*/
/**
    Header Part
*/
/* light grey - footer copy info */
/* darker grey - news carousel indicators active bg*/
/* grey - news carousel indicator bg*/
/* grey - news carousel indicator heading span*/
@font-face {
  font-family: GillSansStd-Bold;
  src: url("../fonts/GillSansStd-Bold.otf"); }
@font-face {
  font-family: GillSansStd-BoldCondensed;
  src: url("../fonts/GillSansStd-BoldCondensed.otf"); }
@font-face {
  font-family: GillSansStd-BoldExtraCond;
  src: url("../fonts/GillSansStd-BoldExtraCond.otf"); }
@font-face {
  font-family: GillSansStd-BoldItalic;
  src: url("../fonts/GillSansStd-BoldItalic.otf"); }
@font-face {
  font-family: GillSansStd-Condensed;
  src: url("../fonts/GillSansStd-Condensed.otf"); }
@font-face {
  font-family: GillSansStd-ExtraBold;
  src: url("../fonts/GillSansStd-ExtraBold.otf"); }
@font-face {
  font-family: GillSansStd-ExtraBoldDisp;
  src: url("../fonts/GillSansStd-ExtraBoldDisp.otf"); }
@font-face {
  font-family: GillSansStd-Italic;
  src: url("../fonts/GillSansStd-Italic.otf"); }
@font-face {
  font-family: GillSansStd-Light;
  src: url("../fonts/GillSansStd-Light.otf"); }
@font-face {
  font-family: GillSansStd-LightItalic;
  src: url("../fonts/GillSansStd-LightItalic.otf"); }
@font-face {
  font-family: GillSansStd-UltraBold;
  src: url("../fonts/GillSansStd-UltraBold.otf"); }
@font-face {
  font-family: GillSansStd-UltraBoldCond;
  src: url("../fonts/GillSansStd-UltraBoldCond.otf"); }
@font-face {
  font-family: GillSansStd;
  src: url("../fonts/GillSansStd.otf"); }
/*
    Text headers configuration
*/
h1 {
  font-family: 'GillSansStd-Bold';
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
  color: #4782b8;
  margin-bottom: 0; }

h3 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #707070;
  margin-top: 0px; }

h2 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.5vw;
  line-height: 42px;
  font-weight: 100;
  letter-spacing: 0.5px;
  color: #4f91cd; }

p {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #707070; }

#sb-site {
  background: #c0c0c0 !important; }

.container {
  background: white;
  box-shadow: 0 9px 0px 0px white, 0 -20px 0px 0px white, 12px 0 15px -4px #a2a2a2, -12px 0 15px -4px #a2a2a2; }

.header {
  padding: 0;
  padding-top: 45px; }

.header-details {
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 15px;
  font-weight: bold;
  text-align: right;
  color: #707070;
  margin-top: 1.5%; }
  .header-details p {
    margin-bottom: 0px; }
  .header-details .header-details-text {
    font-size: 13px;
    font-weight: 300; }

/** 
    Top Menu
*/
.menu-wrap {
  padding-top: 45px;
  background: white; }
  .menu-wrap .top-menu-wraper {
    background: #4f91cd;
    width: 100%;
    padding: 0px;
    -moz-box-shadow: inset 0 0 8px #2b5ea5;
    -webkit-box-shadow: inset 0 0 8px #2b5ea5;
    box-shadow: inset 0 0 8px #2b5ea5;
    float: left; }
    .menu-wrap .top-menu-wraper ul {
      list-style: none;
      height: 66px;
      margin-bottom: 0px; }
      .menu-wrap .top-menu-wraper ul li {
        display: inline-block;
        height: 65px;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 13.6px;
        line-height: 68px;
        font-weight: 900;
        color: white;
        vertical-align: central;
        text-align: center;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0px 2.5%;
        letter-spacing: 0.5px; }
        .menu-wrap .top-menu-wraper ul li:hover {
          background: #4782b8;
          -moz-box-shadow: inset 0 0 8px #2b5ea5;
          -webkit-box-shadow: inset 0 0 8px #2b5ea5;
          box-shadow: inset 0 0 8px #2b5ea5;
          height: 65px; }
          .menu-wrap .top-menu-wraper ul li:hover ul {
            display: block;
            position: absolute;
            top: 100%;
            margin-left: -2.5%;
            width: 21%; }
            .menu-wrap .top-menu-wraper ul li:hover ul li {
              float: none;
              position: relative;
              background: rgba(219, 219, 219, 0.9);
              text-align: left;
              border: none;
              width: 160%;
              height: 40px;
              display: inherit;
              line-height: 38px;
              z-index: 100;
              padding-left: 8%; }
              .menu-wrap .top-menu-wraper ul li:hover ul li:hover {
                background: #4f91cd;
                cursor: pointer; }
                .menu-wrap .top-menu-wraper ul li:hover ul li:hover a {
                  color: white !important; }
              .menu-wrap .top-menu-wraper ul li:hover ul li a {
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: #707070;
                text-transform: none;
                padding-left: 8px; }
            .menu-wrap .top-menu-wraper ul li:hover ul #menu-item-98 {
              border-bottom: 1px solid #a5a5a5; }
        .menu-wrap .top-menu-wraper ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: white; }
      .menu-wrap .top-menu-wraper ul .menu-item-has-children:after {
        content: "\f0d7";
        font-family: "FontAwesome";
        padding-left: 5px; }
      .menu-wrap .top-menu-wraper ul ul {
        display: none; }
      .menu-wrap .top-menu-wraper ul:after {
        content: "";
        clear: both;
        display: block; }
    .menu-wrap .top-menu-wraper .top-menu {
      padding: 0px; }
    .menu-wrap .top-menu-wraper .menu-item-21, .menu-wrap .top-menu-wraper .menu-item-22, .menu-wrap .top-menu-wraper .menu-item-23, .menu-wrap .top-menu-wraper .menu-item-25, .menu-wrap .top-menu-wraper .menu-item-92 {
      margin-left: -4px; }
    .menu-wrap .top-menu-wraper .current_page_item {
      background: #4782b8;
      -moz-box-shadow: inset 0 0 8px #2b5ea5;
      -webkit-box-shadow: inset 0 0 8px #2b5ea5;
      box-shadow: inset 0 0 8px #2b5ea5; }

/**
    Sidebar
*/
.navicon-line {
  background: #4f91cd;
  width: 24px;
  height: 4px;
  border-radius: 1px;
  margin-bottom: 3px; }

.mobile-nav {
  text-align: right;
  width: 55px;
  float: right; }

.sb-slidebar {
  text-align: right;
  background: white !important; }
  .sb-slidebar ul {
    list-style: none; }
    .sb-slidebar ul li {
      border-bottom: 1px solid #4782b8; }
      .sb-slidebar ul li a {
        text-decoration: none;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 22px;
        line-height: 40px;
        color: #4f91cd;
        padding-right: 10px; }
      .sb-slidebar ul li:hover ul, .sb-slidebar ul li:focus ul {
        display: block; }
        .sb-slidebar ul li:hover ul li a, .sb-slidebar ul li:focus ul li a {
          font-size: 16px;
          line-height: 32px;
          color: #707070; }
    .sb-slidebar ul ul {
      display: none; }

/** 
    Search Form
*/
.header-search {
  padding: 0px;
  margin-top: 1.5%;
  text-align: right;
  margin-left: -15px; }
  .header-search input {
    background: #72a7d7;
    width: 90%;
    height: 30px;
    color: white;
    font-family: "FontAwesome";
    font-weight: 600;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 1px;
    border: none; }
    .header-search input::-webkit-input-placeholder {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 13.6px;
      font-weight: 100;
      color: white;
      letter-spacing: 1px; }
    .header-search input:-moz-placeholder {
      /* Firefox 18- */
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 13.6px;
      font-weight: 100;
      color: white;
      letter-spacing: 1px; }
    .header-search input::-moz-placeholder {
      /* Firefox 19+ */
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 13.6px;
      font-weight: 100;
      color: white;
      letter-spacing: 1px; }
    .header-search input:-ms-input-placeholder {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 13.6px;
      font-weight: 100;
      color: white;
      letter-spacing: 1px; }
  .header-search .fa-search {
    position: absolute;
    top: 8px;
    margin-left: -22px;
    color: white; }

/**
    Home Page
*/
/*
    Slider
*/
.carousel-control {
  z-index: 100; }
  .carousel-control .left-arrow {
    left: 3%; }
  .carousel-control .right-arrow {
    right: 3%; }

.item {
  text-align: center; }
  .item img {
    max-width: 437px; }
  .item .item-text {
    position: absolute;
    z-index: 10;
    width: 100%; }
    .item .item-text h1, .item .item-text h2 {
      text-shadow: 0px 2px 3px rgba(6, 49, 70, 0.65); }
    .item .item-text h1 {
      font-family: 'GillSansStd-Bold';
      color: white;
      text-align: center;
      padding: 0px 18%;
      margin-top: 90px;
      letter-spacing: 0.5px;
      font-size: 53px; }
    .item .item-text h2 {
      font-family: 'GillSansStd-Light';
      font-size: 38px;
      color: white;
      letter-spacing: 0;
      padding: 0px 20%;
      margin-top: 40px; }

.carousel {
  overflow: hidden; }
  .carousel .slide-btn {
    /* @include overlay(1,255,255,255);*/
    background-color: #4f91cd;
    opacity: 1;
    height: 35px;
    display: block;
    width: 35px;
    position: absolute;
    font-size: 14px;
    line-height: 35px;
    top: 45%;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .carousel .slide-btn .fa {
      font-size: 14px;
      color: #fff;
      text-shadow: none; }
  .carousel:hover a.left .slide-btn {
    left: 0; }
  .carousel:hover a.right .slide-btn {
    right: 0; }
  .carousel a.left .slide-btn {
    left: -35px; }
  .carousel a.right .slide-btn {
    right: -35px; }
  .carousel .left, .carousel .right {
    background-image: none;
    background-color: transparent; }

/* carousel */
/* Jump Points */
.jump-points-wrapper .jump-points-header {
  background: #e5e5e5;
  margin-top: 20px;
  border: 1px solid #e9e9e9;
  height: 46px;
  padding: 14px 18px; }
  .jump-points-wrapper .jump-points-header h2 {
    font-weight: bolder;
    font-size: 22px;
    line-height: 22px;
    margin-top: 0px;
    color: #4f91cd;
    padding: 0;
    font-family: 'GillSansStd-Bold'; }
.jump-points-wrapper .jump-points {
  text-align: center; }
  .jump-points-wrapper .jump-points ul {
    list-style: none;
    width: 100%; }
    .jump-points-wrapper .jump-points ul li {
      display: inline-block;
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
      width: 24.99%;
      margin-left: -3.9px; }
      .jump-points-wrapper .jump-points ul li img {
        margin-top: 20px;
        max-height: 89px; }
    .jump-points-wrapper .jump-points ul p {
      color: #707070;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 25px; }
    .jump-points-wrapper .jump-points ul #jp-first {
      border-left: 1px solid #e9e9e9;
      margin-left: 0px;
      text-align: center; }

/**
    About RMC Page
*/
.about-content-wrap {
  width: 70%; }
  .about-content-wrap .about-content {
    float: left;
    margin-bottom: 50px;
    margin-top: 40px; }
    .about-content-wrap .about-content img {
      float: left;
      padding-right: 35px;
      padding-bottom: 25px; }
    .about-content-wrap .about-content p {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      line-height: 20px; }

.about-wrapper {
  padding-left: 50px;
  padding-top: 20px; }

/**
    Contact Page
*/
.contact-wrap {
  padding-top: 20px; }
  .contact-wrap #contact-question {
    font-size: 26px;
    line-height: 0px; }
  .contact-wrap #contact-filling {
    font-size: 28px;
    padding-right: 40%;
    line-height: 35px; }
  .contact-wrap p {
    padding-left: 3%; }
    .contact-wrap p .fa {
      margin-left: -3%;
      padding-right: 3px; }
  .contact-wrap .contact-social-links {
    margin-bottom: 80px; }
    .contact-wrap .contact-social-links p {
      padding: 0; }
    .contact-wrap .contact-social-links .fa {
      color: #4f91cd;
      font-size: 20px;
      padding-right: 15px; }

.contact-form-wrap {
  background: #f6f6f6;
  border: 1px solid #e2e2e2; }
  .contact-form-wrap .contact-form {
    margin-top: 25px; }
    .contact-form-wrap .contact-form .fields {
      margin-bottom: 10px;
      border: 1px solid #e2e2e2; }
    .contact-form-wrap .contact-form .btn {
      text-transform: uppercase;
      background: #3e7ac2;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 44px;
      font-weight: 400;
      color: white;
      padding: 0px 20px; }

/**
    Resources Page
*/
.resources-wrap {
  text-align: center;
  padding-top: 20px; }
  .resources-wrap .resources-content .resources-top-part {
    border: 2px solid #e6e6e6;
    padding: 0px; }
    .resources-wrap .resources-content .resources-top-part .resources-left-wrap {
      padding: 0px; }
      .resources-wrap .resources-content .resources-top-part .resources-left-wrap .resources-content-left-header {
        padding: 0px;
        background: #f6f6f6;
        border-bottom: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6; }
        .resources-wrap .resources-content .resources-top-part .resources-left-wrap .resources-content-left-header h3 {
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 14px;
          line-height: 55px;
          font-weight: 600;
          color: #4f91cd; }
      .resources-wrap .resources-content .resources-top-part .resources-left-wrap .product-brochures {
        border-right: 1px solid #e6e6e6;
        padding: 0; }
        .resources-wrap .resources-content .resources-top-part .resources-left-wrap .product-brochures ul {
          list-style: none;
          margin-top: 10px; }
          .resources-wrap .resources-content .resources-top-part .resources-left-wrap .product-brochures ul li {
            display: inline-block;
            padding-right: 0; }
    .resources-wrap .resources-content .resources-top-part .resources-right-wrap {
      padding: 0px; }
      .resources-wrap .resources-content .resources-top-part .resources-right-wrap .resources-content-right-header {
        padding: 0px;
        background: #f6f6f6;
        border-bottom: 1px solid #e6e6e6; }
        .resources-wrap .resources-content .resources-top-part .resources-right-wrap .resources-content-right-header h3 {
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 14px;
          line-height: 55px;
          font-weight: 600;
          color: #4f91cd; }
      .resources-wrap .resources-content .resources-top-part .resources-right-wrap .resources-video iframe {
        margin-top: 15px;
        width: 95%;
        height: 100%; }
      .resources-wrap .resources-content .resources-top-part .resources-right-wrap .resources-video p {
        margin-top: 2%; }
  .resources-wrap .resources-content .resources-table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px; }
    .resources-wrap .resources-content .resources-table th {
      border: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6 !important; }
    .resources-wrap .resources-content .resources-table td {
      text-align: left;
      border: 1px solid #e6e6e6; }
    .resources-wrap .resources-content .resources-table .download {
      text-align: center; }
    .resources-wrap .resources-content .resources-table #table-search-header {
      background: #f6f6f6; }
      .resources-wrap .resources-content .resources-table #table-search-header th {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #7b7b7b; }
        .resources-wrap .resources-content .resources-table #table-search-header th input {
          width: 70%;
          background: #fdfdfd;
          border: 1px solid #e2e2e2;
          padding-left: 5px;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px; }
          .resources-wrap .resources-content .resources-table #table-search-header th input::-webkit-input-placeholder {
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            color: #707070; }
          .resources-wrap .resources-content .resources-table #table-search-header th input:-moz-placeholder {
            /* Firefox 18- */
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            color: #707070; }
          .resources-wrap .resources-content .resources-table #table-search-header th input::-moz-placeholder {
            /* Firefox 19+ */
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            color: #707070; }
          .resources-wrap .resources-content .resources-table #table-search-header th input:-ms-input-placeholder {
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            color: #707070; }
        .resources-wrap .resources-content .resources-table #table-search-header th .fa {
          margin-left: -30px; }

/**
    Products Category Page
*/
.products-category-content {
  text-align: center;
  padding-left: 0;
  padding-top: 20px; }
  .products-category-content .product-logo {
    max-height: 40px;
    padding-left: 15px;
    max-width: 225px; }
  .products-category-content #matthews-firealarm {
    max-height: 120px; }
  .products-category-content h3 {
    padding: 0px 13%;
    font-size: 14px; }
  .products-category-content p {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold; }
  .products-category-content .search-product select {
    width: 45%;
    height: 30px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #707070;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e2e2e2; }
  .products-category-content .search-product input {
    width: 45%;
    height: 30px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #707070;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding-left: 5px; }
  .products-category-content .search-product .search-left {
    text-align: right; }
  .products-category-content .search-product .search-right {
    text-align: left; }

/** Product List */
.product-list-wrap {
  margin-top: 25px;
  text-align: left;
  padding: 0;
  margin-bottom: 95px; }
  .product-list-wrap .product-list {
    margin-bottom: 25px;
    padding-right: 0; }
    .product-list-wrap .product-list .product-list-image {
      text-align: center;
      border: 1px solid #e2e2e2;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      height: 225px; }
      .product-list-wrap .product-list .product-list-image img {
        width: auto;
        height: auto;
        max-height: 150px;
        max-width: 100%;
        margin: 30px 0; }
    .product-list-wrap .product-list .product-list-content {
      margin-top: 8px;
      text-align: center;
      border: 1px solid #e2e2e2;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      height: 140px; }
      .product-list-wrap .product-list .product-list-content a {
        text-decoration: none; }
        .product-list-wrap .product-list .product-list-content a h3 {
          font-size: 14px;
          line-height: 24px;
          color: #4f91cd;
          font-weight: 600;
          padding-top: 10px;
          padding-bottom: 5px;
          margin: 0; }
      .product-list-wrap .product-list .product-list-content p {
        font-weight: 400;
        padding: 0px 3%; }

/* Single Product */
.product-details-content h1 {
  font-size: 36px;
  padding-left: 20px;
  line-height: 12px; }
.product-details-content .product-breadcrumb {
  margin-top: 25px;
  padding-left: 20px;
  margin-bottom: 28px; }
.product-details-content .product-details-left-wrap {
  margin-top: 25px;
  padding-left: 0px; }
  .product-details-content .product-details-left-wrap .product-details-left ul {
    padding-left: 20px; }
    .product-details-content .product-details-left-wrap .product-details-left ul li {
      background: #f6f6f6;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      width: 100px;
      text-align: center;
      margin-right: 8px; }
      .product-details-content .product-details-left-wrap .product-details-left ul li a {
        border-bottom: 1px solid #e2e2e2; }
    .product-details-content .product-details-left-wrap .product-details-left ul .active {
      background: white; }
      .product-details-content .product-details-left-wrap .product-details-left ul .active a {
        border-bottom: 1px solid white; }
  .product-details-content .product-details-left-wrap .product-details-left .tab-content {
    border: 1px solid #e2e2e2;
    border-top: none; }
    .product-details-content .product-details-left-wrap .product-details-left .tab-content .product-long-description {
      padding-left: 20px; }
    .product-details-content .product-details-left-wrap .product-details-left .tab-content p {
      padding-right: 10%;
      padding-top: 15px;
      font-size: 14px;
      line-height: 19px; }
    .product-details-content .product-details-left-wrap .product-details-left .tab-content .product-details-brochure p {
      padding-top: 0px;
      padding-left: 20px; }
      .product-details-content .product-details-left-wrap .product-details-left .tab-content .product-details-brochure p a {
        text-decoration: none;
        color: #4f91cd; }
    .product-details-content .product-details-left-wrap .product-details-left .tab-content .share-links {
      padding-left: 20px;
      margin-top: 20px; }
      .product-details-content .product-details-left-wrap .product-details-left .tab-content .share-links p {
        font-weight: 600; }
        .product-details-content .product-details-left-wrap .product-details-left .tab-content .share-links p .fa {
          color: #4f91cd;
          padding-right: 5px; }
    .product-details-content .product-details-left-wrap .product-details-left .tab-content a {
      text-decoration: none; }
      .product-details-content .product-details-left-wrap .product-details-left .tab-content a .product-enquire {
        width: 55%;
        margin-top: 80px;
        margin-bottom: 35px;
        margin-left: 20px;
        background: #4f91cd;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 44px;
        font-weight: 400;
        color: white;
        padding-left: 20px;
        padding-right: 20px; }
.product-details-content .product-details-right-wrap {
  padding-right: 0px; }
  .product-details-content .product-details-right-wrap .product-details-right {
    text-align: center;
    border: 1px solid #e2e2e2;
    margin-top: 66px;
    height: 515px; }
    .product-details-content .product-details-right-wrap .product-details-right img {
      max-height: 435px;
      margin-top: 15%; }

.v-slider img {
  width: 100%; }

/* Where */
.locations-wrap hr {
  /*margin-bottom:60px;	*/ }
.locations-wrap .locations-content {
  padding-top: 20px;
  text-align: center; }
  .locations-wrap .locations-content .search-location #select-location {
    /*width: 30% !important;*/
    width: 332px;
    padding-left: 10px;
    margin-top: 40px;
    height: 40px;
    outline: none !important; }
  .locations-wrap .locations-content .search-location .fa {
    margin-left: -35px; }
  .locations-wrap .locations-content .locations-details-wrap {
    border: 1px solid #e2e2e2;
    margin-top: 30px;
    padding: 0;
    min-height: 190px; }
    .locations-wrap .locations-content .locations-details-wrap h2 {
      font-family: 'GillSansStd-Bold';
      font-size: 20px;
      line-height: 19px;
      font-weight: 600; }
    .locations-wrap .locations-content .locations-details-wrap h3 {
      font-family: 'GillSansStd-Bold';
      font-size: 16px;
      line-height: 19px;
      font-weight: 600;
      margin-top: 20px; }
    .locations-wrap .locations-content .locations-details-wrap .locations-details-header {
      border-bottom: 1px solid #e2e2e2; }
    .locations-wrap .locations-content .locations-details-wrap .location-part {
      text-align: left;
      padding: 30px 6%;
      min-height: 250px; }
      .locations-wrap .locations-content .locations-details-wrap .location-part p {
        font-size: 14px;
        line-height: 19px;
        font-weight: 600;
        margin-bottom: 0px; }
    .locations-wrap .locations-content .locations-details-wrap .location-details-header-close {
      background: #f7f7f7;
      padding: 0;
      border-top: 1px solid #e2e2e2; }
    .locations-wrap .locations-content .locations-details-wrap .location-details-close {
      /*background: #f7f7f7;*/
      padding: 0; }
    .locations-wrap .locations-content .locations-details-wrap .location-mark {
      color: #4f91cd; }
  .locations-wrap .locations-content .location-results {
    max-width: 315px;
    position: absolute;
    left: 0;
    right: 0;
    /*background-color:$white;*/
    z-index: 100;
    margin: auto; }
    .locations-wrap .locations-content .location-results ul {
      /*border:1px solid $color1;
      border-bottom:none;	*/
      list-style: none;
      max-height: 300px;
      overflow: auto;
      width: 332px; }
      .locations-wrap .locations-content .location-results ul li {
        text-align: left;
        padding: 3px 10px;
        background-color: #fff;
        margin-left: 1px; }
        .locations-wrap .locations-content .location-results ul li:hover {
          background-color: #b5b5b5;
          cursor: pointer; }
.locations-wrap .store-wrap {
  min-height: 390px;
  width: 100%;
  background-repeat: no-repeat;
  float: left;
  background-position: top center;
  background-size: 428px;
  /*background-size:contain;*/ }
  .locations-wrap .store-wrap.bg-aus-map {
    background-image: url("../img/Australian_Maps_clip_art_hight.png"); }
    .locations-wrap .store-wrap.bg-aus-map .overlay {
      background-color: rgba(255, 255, 255, 0.95);
      min-height: 400px; }
  .locations-wrap .store-wrap.bg-prim {
    background-image: url("../img/aus-store-map.png"); }
  .locations-wrap .store-wrap.bg-25 {
    background-image: url("../img/aus-store-map-25.png"); }
  .locations-wrap .store-wrap.bg-50 {
    background-image: url("../img/aus-store-map-50.png"); }

/* location wrap*/
hr {
  float: left;
  border-top: 1px solid #ccc;
  width: 100%; }

.suppliers {
  float: left;
  padding-top: 40px;
  padding-bottom: 40px; }
  .suppliers .f-logo {
    /*float:left;	*/
    display: inline-block;
    width: 12.474576%;
    padding: 0 15px;
    text-align: center;
    min-height: 96px; }
    .suppliers .f-logo img {
      width: 100%; }

/**
    Footer Part
*/
.footer-wrapper {
  background: #4f91cd;
  text-align: center;
  margin-top: 15px;
  /**
      Footer Menu
  */
  /**
      Footer Logo and Footer Text
  */ }
  .footer-wrapper .scrop-top-wrap {
    height: 45px;
    width: 100%; }
    .footer-wrapper .scrop-top-wrap .scroll-to-top:hover {
      cursor: pointer; }
  .footer-wrapper .social-media {
    margin-top: 5px;
    padding-left: 8px; }
    .footer-wrapper .social-media p {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 28px;
      font-weight: 400;
      color: white;
      letter-spacing: 1px; }
    .footer-wrapper .social-media .social-media-links .fa {
      font-size: 16px;
      line-height: 26px;
      color: white;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      margin: 0px 1%; }
  .footer-wrapper .footer-menu {
    margin-top: 18px; }
    .footer-wrapper .footer-menu hr {
      border: 0.1px solid rgba(255, 255, 255, 0.1);
      width: 80%;
      margin: auto;
      margin-bottom: 15px;
      float: none; }
    .footer-wrapper .footer-menu ul {
      list-style: none; }
      .footer-wrapper .footer-menu ul li {
        display: inline-block;
        padding: 0px 2%; }
        .footer-wrapper .footer-menu ul li a {
          text-decoration: none;
          color: white;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 12px;
          line-height: 28px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 600; }
          .footer-wrapper .footer-menu ul li a:hover {
            color: #707070; }
  .footer-wrapper .footer-logo-wrap {
    width: 80%;
    margin: 15px auto;
    margin-bottom: 0; }
    .footer-wrapper .footer-logo-wrap .footer-logo img {
      margin: 5px auto;
      max-height: 224px; }
    .footer-wrapper .footer-logo-wrap .footer-bottom-text {
      bottom: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      /*padding: 0px 34%;*/
      padding-bottom: 10px; }
      .footer-wrapper .footer-logo-wrap .footer-bottom-text p {
        color: white;
        font-size: 14px;
        letter-spacing: 1px; }

/* Vertical carousel */
.vertical-carousel .carousel-content {
  width: 70%;
  float: left; }
.vertical-carousel .carousel-inner {
  height: 370px;
  background-color: #4f91cd; }
  .vertical-carousel .carousel-inner .item {
    /* caption*/ }
    .vertical-carousel .carousel-inner .item .caption {
      padding: 5px 35px; }
      .vertical-carousel .carousel-inner .item .caption p,
      .vertical-carousel .carousel-inner .item .caption h1,
      .vertical-carousel .carousel-inner .item .caption h4 {
        color: #fff;
        text-align: left; }
      .vertical-carousel .carousel-inner .item .caption h1 {
        font-size: 32px;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 600;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 0;
        line-height: 35px; }
      .vertical-carousel .carousel-inner .item .caption h4 {
        font-size: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        letter-spacing: 1px;
        padding-bottom: 8px;
        font-weight: 500; }
      .vertical-carousel .carousel-inner .item .caption p {
        font-size: 12.5px;
        font-weight: 100;
        line-height: 22px;
        font-family: "Lato", sans-serif;
        letter-spacing: 1px; }
    .vertical-carousel .carousel-inner .item img {
      width: 100%;
      padding-top: 35px;
      padding-right: 26px;
      padding-bottom: 24px; }
.vertical-carousel .carousel-indicator-wrap {
  height: 370px;
  background-color: #fff;
  width: 32%;
  float: right;
  margin-right: -2%; }
.vertical-carousel .carousel-indicators {
  position: relative;
  left: 0;
  width: auto;
  margin-left: 0;
  list-style: none;
  bottom: 0;
  max-height: 385px;
  overflow: scroll;
  background-color: #d9d9d9;
  /*&::-webkit-scrollbar { 
  display: none; 
  }*/ }
  .vertical-carousel .carousel-indicators li {
    width: 100%;
    height: auto;
    float: left;
    text-indent: inherit;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    text-align: left;
    padding: 15px;
    margin: 0; }
    .vertical-carousel .carousel-indicators li h4 {
      font-size: 13px;
      border-bottom: 1px solid rgba(74, 74, 74, 0.25);
      letter-spacing: 1px;
      padding-bottom: 8px;
      font-weight: 500;
      text-transform: uppercase;
      color: #4f91cd; }
      .vertical-carousel .carousel-indicators li h4 span {
        color: #8a8a8a; }
    .vertical-carousel .carousel-indicators li.active {
      background-color: #4a4a4a; }
      .vertical-carousel .carousel-indicators li.active h4 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
        .vertical-carousel .carousel-indicators li.active h4 span {
          color: rgba(255, 255, 255, 0.8); }
        .vertical-carousel .carousel-indicators li.active h4:before {
          content: "\f0da";
          font-family: "FontAwesome";
          color: #4f91cd;
          margin-left: -15px;
          width: 15px;
          float: left; }
      .vertical-carousel .carousel-indicators li.active p {
        color: rgba(255, 255, 255, 0.8); }

/* Helpers */
.xg,
.x-gutters {
  padding-left: 0;
  padding-right: 0; }

.loading {
  float: left;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  font-size: 24px;
  padding: 5px; }

.x-border {
  border: none !important; }

.fw {
  width: 100%; }

.push {
  float: left; }

.pull {
  float: right; }

.hide-hr {
  border-color: #fff; }

@media (max-width: 1400px) {
  .product-brochures ul li {
    padding-right: 1% !important; }
    .product-brochures ul li img {
      width: 100%; }

  .contact-wrap #contact-question {
    font-size: 2vw; }
  .contact-wrap #contact-filling {
    font-size: 2vw;
    padding-right: 0; }

  .item .item-text h1 {
    font-size: 3.6vw; }
  .item .item-text h2 {
    font-size: 3vw; } }
@media (max-width: 1200px) {
  .vertical-carousel .carousel-content {
    width: 100%; }
  .vertical-carousel .carousel-inner {
    height: auto; }

  .menu-wrap .top-menu ul li {
    padding: 0px 2%; } }
@media (max-width: 991px) {
  .menu-wrap .top-menu-wraper ul li {
    font-size: 12px;
    padding: 0px 2%; }

  .item .item-text h1 {
    font-size: 3.3vw;
    line-height: 35px;
    margin-top: 60px; }
  .item .item-text h2 {
    line-height: 28px;
    margin-top: 20px;
    font-size: 2.8vw; }

  .menu-wrap .top-menu ul li {
    padding: 0px 1%; } }
@media (max-width: 792px) {
  h2 {
    font-size: 16px;
    line-height: 25px; }

  .search-left, .search-right {
    text-align: center !important;
    margin-bottom: 15px; }
    .search-left input, .search-left select, .search-right input, .search-right select {
      width: 100% !important; } }
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 15px; }

  .vertical-carousel .carousel-inner .item img {
    padding-right: 0;
    max-width: inherit;
    height: auto !important; }

  .item .item-text h1 {
    font-size: 3.9vw; }
  .item .item-text h2 {
    font-size: 3vw; }

  .contact-wrap #contact-question {
    font-size: 2vw; }
  .contact-wrap #contact-filling {
    font-size: 2vw;
    padding-right: 0; }

  .suppliers .f-logo {
    width: 20%; }
    .suppliers .f-logo img {
      width: 80%;
      margin-bottom: 20px; }

  .locations-wrap .locations-content .locations-details-wrap .location-part {
    padding: 15px;
    min-height: inherit; }

  /* location wrap*/
  .products-category-content .search-product .search-left, .products-category-content .search-product .search-right {
    padding-right: 0; } }
@media (max-width: 590px) {
  .item {
    height: 208px; }
    .item .item-text h1 {
      line-height: 25px; }
    .item .item-text h2 {
      margin-top: 20px;
      line-height: 18px; }
    .item img {
      height: 208px !important; } }
@media (max-width: 480px) {
  .suppliers {
    text-align: left; }
    .suppliers .f-logo {
      width: 48%;
      min-height: 58px; }
      .suppliers .f-logo img {
        width: 100%; }

  .locations-wrap {
    /* locations-content */ }
    .locations-wrap .locations-content .search-location #select-location {
      width: 90% !important; }
    .locations-wrap .locations-content .location-results ul {
      width: 79%;
      margin-left: 10%; }
      .locations-wrap .locations-content .location-results ul li {
        padding-left: 15px;
        padding-right: 15px; }
    .locations-wrap .store-wrap {
      background-size: contain; }

  /* locations-wrap */ }
@media (max-width: 400px) {
  h1 {
    font-size: 36px; }

  .header .logo img {
    width: 150%; }

  .item .item-text h1 {
    line-height: 25px;
    font-size: 20px;
    padding: 0px 7%;
    margin-top: 55px; }
  .item .item-text h2 {
    line-height: 18px;
    font-size: 18px;
    padding: 0px 10%; }

  .footer-wrapper .footer-logo-wrap .footer-logo img {
    max-height: 200px; }
  .footer-wrapper .footer-logo-wrap .footer-bottom-text p {
    padding: 0px 2%;
    font-size: 10px; }

  .about-content-wrap {
    width: 90%; }

  .products-category-content h3 {
    padding: 0px 3%; }

  .product-details-content h1 {
    line-height: 35px; }
  .product-details-content .product-details-left-wrap .product-details-left .tab-content a .product-enquire {
    width: 90%; }

  .contact-wrap #contact-question {
    font-size: 14px; }
  .contact-wrap #contact-filling {
    font-size: 20px;
    line-height: 25px; } }
@media (max-width: 320px) {
  .item .item-text h1 {
    font-size: 18px; }
  .item .item-text h2 {
    font-size: 16px; } }

/*# sourceMappingURL=layout.css.map */
