/*
 Website: RMC
 Author: Zack
*/

/**
    Header Part
*/
$blue: #4f91cd;
$dark-blue: #4782b8;
$white: #fff;
$color1:#b5b5b5;  /* light grey - footer copy info */
$color2:#4a4a4a;  /* darker grey - news carousel indicators active bg*/
$color3:#d9d9d9; /* grey - news carousel indicator bg*/
$color4:#8a8a8a; /* grey - news carousel indicator heading span*/

$font-awesome: 'FontAwesome';
$font-arial: Arial,Helvetica Neue,Helvetica,sans-serif; 
$font-lato: 'Lato', sans-serif;


@each $font, $ext in (GillSansStd-Bold,otf),
(GillSansStd-BoldCondensed,otf),
(GillSansStd-BoldExtraCond,otf),
(GillSansStd-BoldItalic,otf),
(GillSansStd-Condensed,otf),
(GillSansStd-ExtraBold,otf),
(GillSansStd-ExtraBoldDisp,otf),
(GillSansStd-Italic,otf),
(GillSansStd-Light,otf),
(GillSansStd-LightItalic,otf),
(GillSansStd-UltraBold,otf),
(GillSansStd-UltraBoldCond,otf),
(GillSansStd,otf)
{
    @font-face{
        font-family:#{$font};
        src: url('../fonts/#{$font}.#{$ext}');
    }
}

/*
    Text headers configuration
*/

h1{
    font-family: 'GillSansStd-Bold';
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    color: $dark-blue;
    margin-bottom:0;
}
h3{
    font-family: $font-arial;
    //font-size: 14px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #707070;
    margin-top: 0px;
}
h2{
    font-family: $font-arial;
    font-size: 1.5vw;
    line-height: 42px;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: $blue;
}
p{
    font-family: $font-arial;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
}
#sb-site{
    background: #c0c0c0!important;
}
.container{
    background: white;
    box-shadow: 0 9px 0px 0px white, 0 -20px 0px 0px white, 12px 0 15px -4px #a2a2a2, -12px 0 15px -4px #a2a2a2;
}


.header{
    padding: 0;
    padding-top: 45px;
}
.header-details{
    font-family: $font-awesome;
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
    text-align: right;
    color: #707070;
    margin-top: 1.5%;
    p{
        margin-bottom: 0px;
    }
    .header-details-text{
        font-size: 13px;
        font-weight: 300;
    }
}

/** 
    Top Menu
*/
$nav_height:65px;
.menu-wrap{
    padding-top: 45px;
    background: white;
    .top-menu-wraper{ 
        background: $blue;
        width:100%;
        padding: 0px;
        -moz-box-shadow:    inset 0 0 8px #2b5ea5;
        -webkit-box-shadow: inset 0 0 8px #2b5ea5;
        box-shadow:         inset 0 0 8px #2b5ea5;
        float: left;
        ul{
            list-style: none;
            height: $nav_height + 1;
            margin-bottom: 0px;
            li{
                display: inline-block;
                height: $nav_height;
                font-family: $font-arial;
                font-size: 13.6px;
                line-height: 68px;
                font-weight: 100;
                color: white;
                vertical-align: central;
                text-align: center;
                border-right: 1px solid rgba(255,255,255,0.2);
                padding: 0px 2.5%;
                letter-spacing:0.5px;
                &:hover{
                    background: $dark-blue;
                    -moz-box-shadow:    inset 0 0 8px #2b5ea5;
                    -webkit-box-shadow: inset 0 0 8px #2b5ea5;
                    box-shadow:         inset 0 0 8px #2b5ea5;
                    height: $nav_height;
                    ul{
                        display: block;
                        position: absolute;
                        top: 100%;
                        margin-left: -2.5%;
                        width: 21%;

                        li{
                            float: none;
                            position: relative;
                            background: rgba(219,219,219,0.9);
                            text-align: left;
                            border: none;
                            width: 145%;
                            height: 40px;
                            display: inherit;
                            line-height: 38px;
                            z-index: 100;
                            padding-left: 8%;
                            &:hover{
                                background: $blue;
                                cursor: pointer;
                                a{
                                    color: white !important;  
                                }  
                            }
                            a{
                                font-family: $font-arial;
                                font-size: 14px;
                                font-weight: 600;
                                color: #707070;  
                                text-transform: none;
                                padding-left: 8px;

                            }


                        }
                        #menu-item-99{
                            border-bottom: 1px solid #a5a5a5;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                }
            }
            .menu-item-has-children{
                &:after{
                    content:"\f0d7";
                    font-family: $font-awesome;
                    padding-left: 5px;
                }

            }
            ul{
                display: none;
            }
            &:after{
                content: "";
                clear: both;
                display: block;
            }
        }
        .top-menu{
            padding: 0px;
        }
        .menu-item-21, .menu-item-22, .menu-item-23, .menu-item-25, .menu-item-92{
            margin-left: -4px;
        }
        .current_page_item{
            background: $dark-blue;
            -moz-box-shadow:    inset 0 0 8px #2b5ea5;
            -webkit-box-shadow: inset 0 0 8px #2b5ea5;
            box-shadow:         inset 0 0 8px #2b5ea5;
        }
    }
}
/**
    Sidebar
*/
.navicon-line{
    background: $blue;
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 3px;
}
.mobile-nav{
    text-align: right;
    width: 55px;
    float: right;
}
.sb-slidebar{
    text-align: right;
    // z-index: 1 !important;
    background: white !important;
    ul{
        list-style: none;
        li{
            border-bottom: 1px solid $dark-blue;
            a{
                text-decoration: none;
                font-family: $font-arial;
                font-size: 22px;
                line-height: 40px;
                color: $blue;
                padding-right: 10px;
            }
            &:hover, &:focus{
                ul{
                    display: block;
                    li{
                        a{
                            font-size: 16px;
                            line-height: 32px;
                            color: #707070;
                        }
                    }
                }
            }
        }
        ul{
            display: none;
        }
    }
}

/** 
    Search Form
*/

.header-search{
    padding: 0px;
    margin-top: 1.5%;
    text-align: right;
    margin-left: -15px;
    input{
        background: #72a7d7;
        width: 90%;
        height: 30px;
        color: white;
        font-family: $font-awesome;
        font-weight: 600;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding-left: 12px;
        padding-top: 1px;
        border: none;
        &::-webkit-input-placeholder {
            font-family: $font-arial;
            font-size: 13.6px;
            font-weight: 100;
            color: white;
            letter-spacing:1px;
        }

        &:-moz-placeholder { /* Firefox 18- */
            font-family: $font-arial;
            font-size: 13.6px;
            font-weight: 100;
            color: white;
            letter-spacing:1px;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            font-family: $font-arial;
            font-size: 13.6px;
            font-weight: 100;
            color: white; 
            letter-spacing:1px;
        }

        &:-ms-input-placeholder {  
            font-family: $font-arial;
            font-size: 13.6px;
            font-weight: 100;
            color: white; 
            letter-spacing:1px;
        }
    }
    .fa-search{
        position: absolute;
        top: 8px;
        margin-left: -22px;
        color: white;
    }
}


/**
    Home Page
*/
/*
    Slider
*/



.carousel-control{
    z-index:100;
    .left-arrow{
        left: 3%;
    }
    .right-arrow{
        right: 3%;
    }
}




.item{
    text-align: center;
    img{
        max-width: 437px;
    }
    .item-text{
        position: absolute;
        z-index: 10;
        width:100%;

        h1,h2{
            text-shadow:0px 2px 3px rgba(6, 49, 70, 0.65);	
        }

        h1{
            font-family: 'GillSansStd-Bold';
            color: white;
            text-align:center;
            padding:0px 18%;
            margin-top:90px;
            letter-spacing:0.5px;
            font-size:53px;
            //font-size: 2.8vw;
        }
        h2{
            font-family: 'GillSansStd-Light';
            font-size:38px;
            //font-size: 2vw;
            color: white;
            letter-spacing:0;
            padding:0px 20%;
            margin-top:40px;
        }


    }
}
$carousel_nav_dim:35px;
.carousel{	
    overflow:hidden;
    .slide-btn{
        /* @include overlay(1,255,255,255);*/
        background-color:$blue;
        opacity:1;
        height: $carousel_nav_dim;
        display: block;
        width: $carousel_nav_dim;
        position: absolute;
        font-size: 14px;
        line-height: $carousel_nav_dim;
        top: 45%;
        border:none;
        cursor:pointer;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;

        .fa{
            font-size:14px;
            color:$white;
            text-shadow:none;	
        }

    }

    &:hover{
        a.left .slide-btn{
            left:0;	
        }
        a.right .slide-btn{
            right:0;	 
        }
    }
    a.left .slide-btn{
        left:-$carousel_nav_dim;	
    }
    a.right .slide-btn{
        right:-$carousel_nav_dim; 
    }
    .left,.right{
        background-image:none;
        background-color:transparent;
    }
} /* carousel */


/* Jump Points */


.jump-points-wrapper{
    .jump-points-header{
        background: #e5e5e5;
        margin-top: 20px;
        border: 1px solid #e9e9e9;
        height:46px;
        padding:14px 18px;
        h2{
            font-weight: bolder;
            font-size: 22px;
            line-height: 22px;
            margin-top: 0px;
            color: $blue;
            padding:0;
            font-family:'GillSansStd-Bold';
        }

    }
    .jump-points{
        text-align: center;
        ul{
            list-style: none;
            width: 100%;
            li{
                display: inline-block; 
                border-right: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                width: 24.99%;
                margin-left: -3.9px;
                img{
                    margin-top: 20px;
                    width: 163px;
                    height: 100px;

                }
            }
            p{
                color: #707070;
                font-family: $font-arial;
                font-size: 16px;
                line-height: 25px;
            }
            #jp-first{
                border-left: 1px solid #e9e9e9;
                margin-left: 0px;
            }
        }
    }
}

/**
    About RMC Page
*/

.about-content-wrap{
    width: 70%;
    .about-content{
        float: left;
        margin-bottom: 50px;
        margin-top:40px;
        img{
            float: left;
            padding-right:35px;
            padding-bottom:25px;
        }
        p{
            font-family: $font-arial;
            line-height: 20px;
        }
    }
}
.about-wrapper{
    padding-left: 50px;
    padding-top:20px;
}

/**
    Contact Page
*/

.contact-wrap{
    #contact-question{
        font-size: 26px;
        line-height: 0px;
    }
    #contact-filling{
        font-size: 28px;
        padding-right: 40%;
        line-height: 35px;
    }
    p{
        padding-left: 3%;
        .fa{
            margin-left: -3%;
            padding-right: 3px;
        }
    }
    .contact-social-links{
        margin-bottom: 80px;
        p{
            padding: 0;
        }
        .fa{
            color: $blue;
            font-size: 20px;
            padding-right: 15px;
        }
    }
}
.contact-form-wrap{
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    .contact-form{
        margin-top: 25px;
        .fields{
            margin-bottom: 10px;
            border: 1px solid #e2e2e2;
        }
        .btn{
            text-transform: uppercase;
            background: #3e7ac2;
            font-family: $font-arial;
            font-size: 16px;
            line-height: 44px;
            font-weight: 400;
            color: white;
            padding: 0px 20px;
        }
    }
}


/**
    Resources Page
*/

.resources-wrap{
    text-align: center;
    .resources-content{
        .resources-top-part{
            border: 2px solid #e6e6e6;
            padding: 0px;
            .resources-left-wrap{
                padding: 0px;
                .resources-content-left-header{
                    padding: 0px;
                    background: #f6f6f6;
                    border-bottom: 1px solid #e6e6e6;
                    border-right: 1px solid #e6e6e6;
                    h3{
                        font-family: $font-arial;
                        font-size: 14px;
                        line-height: 55px;
                        font-weight: 600;
                        color: $blue;   
                    }
                }
                .product-brochures{
                    border-right: 1px solid #e6e6e6;
                    padding: 0;
                    ul{
                        list-style: none;
                        margin-top: 10px;
                        li{
                            display: inline-block;
                            padding-right: 0;
                        }
                    }
                }
            }
            .resources-right-wrap{
                padding: 0px;
                .resources-content-right-header{
                    padding: 0px;
                    background: #f6f6f6;
                    border-bottom: 1px solid #e6e6e6;
                    h3{
                        font-family: $font-arial;
                        font-size: 14px;
                        line-height: 55px;
                        font-weight: 600;
                        color: $blue;   
                    }
                }
                .resources-video{
                    iframe{
                        margin-top: 15px;
                        width: 95%;
                        height: 100%;
                    }
                    p{
                        margin-top: 2%;
                    }
                }

            }
        }

        .resources-table{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0px;
            th{
                border: 1px solid #e6e6e6;
                border-top: 1px solid #e6e6e6 !important;
            }
            td{
                text-align: left;
                border: 1px solid #e6e6e6;
            }
            .download{
                text-align: center;
            }
            #table-search-header{
                background: #f6f6f6;
                th{
                    font-family: $font-arial;
                    font-size: 14px;
                    line-height: 24px;
                    color: #7b7b7b;
                    input{
                        width: 70%;
                        background: #fdfdfd;
                        border: 1px solid #e2e2e2;
                        padding-left: 5px;
                        font-family: $font-arial;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                        &::-webkit-input-placeholder {
                            font-family: $font-arial;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: bold;
                            color: #707070;
                        }

                        &:-moz-placeholder { /* Firefox 18- */
                            font-family: $font-arial;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: bold;
                            color: #707070;
                        }

                        &::-moz-placeholder {  /* Firefox 19+ */
                            font-family: $font-arial;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: bold;
                            color: #707070; 
                        }

                        &:-ms-input-placeholder {  
                            font-family: $font-arial;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: bold;
                            color: #707070; 
                        }
                    }
                    .fa{
                        margin-left: -30px;
                    }
                }
            }
        }
    }
}



/**
    Products Category Page
*/
.products-category-content{
    text-align: center;
    padding-left: 0;
    h3{
        padding: 0px 13%;
        font-size: 14px;
    }
    p{
        font-family: $font-arial;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
    }
    .search-product{
        select{
            width: 45%;
            height: 30px;
            font-family: $font-arial;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            color: #707070;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #e2e2e2;
        }
        input{
            width: 45%;
            height: 30px;
            font-family: $font-arial;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            color: #707070;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #e2e2e2;
            padding-left: 5px;
        }
        .search-left{
            text-align: right;
        }
        .search-right{
            text-align: left;
        }

    }
}

/** Product List */

.product-list-wrap{
    margin-top: 25px;
    text-align: left;
    padding: 0;
    margin-bottom: 95px;
    .product-list{
        margin-bottom: 25px;
        padding-right: 0;
        .product-list-image{
            text-align: center;
            border: 1px solid #e2e2e2;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            height: 225px;
            img{
                width: auto;
                height : auto;
                max-height: 150px;
                max-width: 100%;
                margin: 30px 0;
            }
        }
        .product-list-content{
            margin-top: 8px;
            text-align: center;
            border: 1px solid #e2e2e2;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            height: 140px;
            a{
                text-decoration: none;
                h3{
                    font-size: 14px;
                    line-height: 24px;
                    color: $blue;
                    font-weight: 600;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    margin: 0;
                } 
            }          
            p{
                font-weight: 400;
                padding: 0px 3%;
            }
        }
    }
}

/* Single Product */

.product-details-content{
    h1{
        font-size: 36px;
        padding-left: 20px;
        line-height: 12px;
    }
    .product-breadcrumb{
        margin-top: 25px;
        padding-left: 20px;
        margin-bottom: 28px;
    }
    .product-details-left-wrap{
        margin-top: 25px;
        padding-left: 0px;
        .product-details-left{
            ul{
                padding-left: 20px;
                li{
                    background: #f6f6f6;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;                    
                    width: 100px;
                    text-align: center;
                    margin-right: 8px;
                    a{
                        border-bottom: 1px solid #e2e2e2;
                    }
                }
                .active{
                    background: white;
                    a{
                        border-bottom: 1px solid white;
                    }
                }
            }
            .tab-content{
                border: 1px solid #e2e2e2;
                border-top: none;
                .product-long-description{
                    padding-left: 20px
                }
                p{
                    padding-right: 10%;
                    padding-top: 15px;
                    font-size: 14px;
                    line-height: 19px;
                }
                .product-details-brochure{
                    p{
                        padding-top: 0px;
                        padding-left: 20px;
                        a{
                            text-decoration: none;
                            color: $blue;
                        }
                    }  
                }
                .share-links{
                    padding-left: 20px;
                    margin-top: 20px;
                    p{
                        font-weight: 600;
                        .fa{
                            color: $blue;
                            padding-right: 5px;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    .product-enquire{
                        width: 55%;
                        margin-top: 80px;
                        margin-bottom: 35px;
                        margin-left: 20px;
                        background: $blue;
                        font-family: $font-arial;
                        font-size: 16px;
                        line-height: 44px;
                        font-weight: 400;
                        color: white;
                        padding-left: 20px;
                        padding-right: 20px;
                    }  
                }
            }
        }
    }
    .product-details-right-wrap{
        padding-right: 0px;
        .product-details-right{
            text-align: center;
            border: 1px solid #e2e2e2;
            margin-top: 66px;
            height: 515px;
            img{
                max-height: 435px;
                margin-top: 15%;
            }
        } 
    }
}

.v-slider{
    img{
        width:100%;	
    }
}
/* Where */
.locations-wrap{
    hr{
        /*margin-bottom:60px;	*/
    }

    .locations-content{ 
        padding-top: 20px;
        text-align:center;
        .search-location{
            #select-location{
                /*width: 30% !important;*/
                width:332px;
                padding-left: 10px;
                margin-top: 40px;  
                height:40px;
                outline:none !important;
            }
            .fa{
                margin-left: -35px;
            }
        }
        .locations-details-wrap{
            border: 1px solid #e2e2e2;
            margin-top: 30px;
            padding: 0;
            min-height:140px;
            h2{
                font-family: 'GillSansStd-Bold';
                font-size: 20px;
                line-height: 19px;
                font-weight: 600;

            }
            h3{
                font-family: 'GillSansStd-Bold';
                font-size: 16px;
                line-height: 19px;
                font-weight: 600;
                margin-top: 20px;
            }
            .locations-details-header{
                border-bottom: 1px solid #e2e2e2;
            }
            .location-part{
                text-align: left;
                padding: 30px 6%;
                min-height:250px;
                p{
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
            }
            .location-details-header-close{
                background: #f7f7f7;
                padding: 0;
                border-top: 1px solid #e2e2e2;
            }
            .location-details-close{
                /*background: #f7f7f7;*/
                padding: 0;
            }
            .location-mark{
                color: $blue;
            }
        }


        .location-results{
            max-width:315px;
            position:absolute;
            left:0;
            right:0;
            /*background-color:$white;*/
            z-index:100;
            margin:auto;

            ul{
                /*border:1px solid $color1;
                border-bottom:none;	*/
                list-style:none;
                max-height:300px;
                overflow:auto;
                width:332px;

                li{
                    text-align:left;
                    padding:3px 10px;	
                    background-color:$white;
                    margin-left:1px;
                    &:hover{
                        background-color:$color1;
                        cursor:pointer;	
                    }
                }
            }
        }

    }

	.store-wrap{
		min-height: 390px;
		width: 100%;
		background-repeat: no-repeat;
		float: left;
		background-position: top center;	
		background-size: 428px;
		/*background-size:contain;*/
	
		&.bg-aus-map{
			background-image:url('../img/Australian_Maps_clip_art_hight.png');	
			
			.overlay{
				background-color:rgba(255,255,255,0.8);
			}	
		}

		&.bg-prim{
			background-image:url('../img/aus-store-map.png');	
		}
		
		&.bg-25{
			background-image:url('../img/aus-store-map-25.png');
		}
		
		&.bg-50{
			background-image:url('../img/aus-store-map-50.png');
		}
		
		
	}
	

} /* location wrap*/

hr{
    float: left;
    border-top: 1px solid #ccc;
    width: 100%;
}

.suppliers{
    float:left;
    padding-top:40px;
    padding-bottom:40px;

    .f-logo{
        /*float:left;	*/
        display:inline-block;
        width:12.474576%;
        padding:0 15px;
        text-align:center;
        min-height:96px;

        img{
            width:100%;
        }
    }

}

/**
    Footer Part
*/

.footer-wrapper{
    background: $blue;
    text-align: center;
    margin-top:15px;
    .scrop-top-wrap{
        height:45px;
        width:100%;
        .scroll-to-top{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .social-media{
        margin-top: 5px;
        padding-left: 8px;
        p{
            font-family: $font-arial;
            font-size: 12px;
            line-height: 28px;
            font-weight: 400;
            color: white;
            letter-spacing: 1px;
        }
        .social-media-links{
            .fa{
                font-size: 16px;
                line-height: 26px;
                color: white;
                background: transparent;
                border: 1px solid rgba(255,255,255,0.3);
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                width: 26px;
                height:26px;
                margin: 0px 5%;
            }
        }
    }



    /**
        Footer Menu
    */

    .footer-menu{
        margin-top: 18px;
        hr{
            border: 0.1px solid rgba(255,255,255,0.1);
            width: 80%;
            margin: auto;
            margin-bottom: 15px;
            float: none;
        }
        ul{
            list-style: none;
            li{
                display: inline-block;
                padding: 0px 2%;
                a{
                    text-decoration: none;
                    color: white;
                    font-family: $font-arial;
                    font-size: 12px;
                    line-height: 28px;
                    letter-spacing: 1px;
                    text-transform:uppercase;
                }
            }
        }
    }

    /**
        Footer Logo and Footer Text
    */
    .footer-logo-wrap{
        background: white;
        width: 80%;
        margin: 15px auto;
        margin-bottom: 0;
        //-moz-box-shadow:    inset 0 0 8px #2b5ea5;
        //-webkit-box-shadow: inset 0 0 8px #2b5ea5;
        //box-shadow:         inset 0 0 8px #2b5ea5;
        //border: 1px solid white;
        //border-bottom: none;
        .footer-logo{
            img{
                margin: 5px auto;
            }
        }
        .footer-bottom-text{
            bottom: 0;
            font-family: $font-arial;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            /*padding: 0px 34%;*/
            padding-bottom: 60px;

            p{
                color:$color1;	
                font-size:12px;
            }
        }
    }
}

/* Vertical carousel */
$v_carousel_height:370px;
.vertical-carousel{

    .carousel-content{
        width:70%;
        float:left;	
    }
    .carousel-inner{
        height:$v_carousel_height;
        background-color:$blue;	

        .item{
            .caption{
                padding:5px 35px;
                p,
                h1,
                h4{
                    color:$white;
                    text-align:left;	
                }

                h1{
                    font-size: 32px;
                    font-family: $font-arial;
                    font-weight: 600;
                    padding-top: 5px;
                    padding-bottom:5px;
                    margin-top: 0;
                    line-height: 35px;	
                }

                h4{
                    font-size:13px;
                    border-bottom:1px solid rgba(255,255,255,0.25);
                    letter-spacing: 1px;
                    padding-bottom: 8px;
                    font-weight: 500;
                }

                p{
                    font-size: 12.5px;
                    font-weight: 100;
                    line-height: 22px;
                    font-family: $font-lato;
                    letter-spacing: 1px;
                }
            } /* caption*/

            img{
                width:100%;
                padding-top: 35px;
                padding-right: 26px;
                padding-bottom: 24px;	
            }
        }
    }
    .carousel-indicator-wrap{
        height:$v_carousel_height;
        background-color:$white;	
        width:32%;
        float:right;
        margin-right:-2%;
    }
    .carousel-indicators{
        position:relative;
        left:0;
        width:auto;
        margin-left:0;
        list-style:none;
        bottom:0;
        max-height:$v_carousel_height + 15px;
        overflow:scroll;
        background-color:$color3;


        /*&::-webkit-scrollbar { 
        display: none; 
        }*/

        li{
            width:100%;
            height:auto;
            float:left;
            text-indent:inherit;	
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.25);
            text-align: left;
            padding: 15px;
            margin:0;



            h4{
                font-size:13px;
                border-bottom:1px solid rgba(74,74,74,0.25);
                letter-spacing: 1px;
                padding-bottom: 8px;
                font-weight: 500;
                text-transform:uppercase;
                color:$blue;



                span{
                    color:$color4;
                }
            }


            &.active{
                background-color:$color2;	

                h4{
                    border-bottom:1px solid rgba(255,255,255,0.25);
                    span{
                        color:rgba(255,255,255,0.8);	
                    }

                    &:before{
                        content:"\f0da";
                        font-family:$font-awesome;
                        color:$blue;
                        margin-left:-15px;	
                        width:15px;
                        float:left;
                    }

                }

                p{
                    color:rgba(255,255,255,0.8);	
                }
            }
        }
    }

}

/* Helpers */
.xg,
.x-gutters{
    padding-left:0;
    padding-right:0;	
}
.loading{
    float: left;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    font-size: 24px;
    padding: 5px;	
}
.x-border{
    border:none !important;	
}
.fw{
    width:100%;	
}
.push{
    float:left;	
}
.pull{
    float:right;	
}

@media(max-width: 1400px){
    .product-brochures{
        ul{
            li{
                padding-right: 1% !important;
                img{
                    width: 100%;
                }
            }
        }
    }
    .contact-wrap{
        #contact-question{
            font-size: 2vw;
        }
        #contact-filling{
            font-size: 2vw;
            padding-right: 0;
        }
    }
    .item{
        .item-text{
            h1{
                font-size: 3.6vw;
            }
            h2{
                font-size: 3vw;
            }
        }
    }
}
@media(max-width: 1200px){
    .vertical-carousel{
        .carousel-content{
            width:100%;
        }

        .carousel-inner{
            height:auto;	
        }
    }
    .menu-wrap{
        .top-menu{
            ul{
                li{
                    padding: 0px 2%;
                }
            }
        }
    }
}

@media(max-width: 991px){
    .menu-wrap{
        .top-menu-wraper{ 
            ul{
                li{
                    font-size: 12px;
                    padding: 0px 2%;

                }
            }
        }
    }
    .item{
        .item-text{
            h1{
                font-size: 3.3vw;
                line-height: 35px;
                margin-top: 60px;
            }
            h2{
                line-height: 28px;
                margin-top: 20px;
                font-size: 2.8vw
            }
        }
    }
    .menu-wrap{
        .top-menu{
            ul{
                li{
                    padding: 0px 1%;
                }
            }
        }
    }
}
@media(max-width: 792px){
    h2{
        font-size: 16px;
        line-height: 25px;
    }
    .search-left, .search-right{
        text-align: center !important;
        margin-bottom: 15px;
        input, select{
            width: 100% !important;
        }
    }
}
@media (max-width:768px){
    .header{
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .vertical-carousel{
        .carousel-inner{

            .item{
                img{
                    padding-right:0;
                    max-width:inherit;	
                    height:auto !important;
                }
            }
        }
    }
    .item{
        .item-text{
            h1{
                font-size: 3.9vw;
            }
            h2{
                font-size: 3vw;
            }
        }
    }
    .contact-wrap{
        #contact-question{
            font-size: 2vw;
        }
        #contact-filling{
            font-size: 2vw;
            padding-right: 0;
        }
    }

    .suppliers{
        .f-logo{
            width:20%;

            img{
                width:80%;
                margin-bottom:20px;
            }
        }

    }
    .locations-wrap{
        .locations-content{ 

            .locations-details-wrap{

                .location-part{
                    padding:15px;
                    min-height:inherit;
                }
            }
        }

    } /* location wrap*/
    .products-category-content{
        .search-product{
            .search-left, .search-right{
                padding-right: 0;
            }
        }
    }
}
@media(max-width: 590px){
    .item{
        height: 208px;
        .item-text{
            h1{
                line-height: 25px;
            }
            h2{
                margin-top: 20px;
                line-height: 18px;
            }
        }
        img{
            height: 208px !important;
        }
    }
}
@media (max-width:480px){
    .suppliers{
        .f-logo{
            width:48%;
            min-height:58px;
            img{
                width:100%;
            }
        }

    }

    .locations-wrap{
        .locations-content{
            .search-location{
                #select-location{
                    width: 90% !important;
                }
            }

            .location-results{
                ul{
                    width:79%;
                    margin-left:10%;

                    li{
                        padding-left:15px;
                        padding-right:15px;
                    }
                }
            }

        } /* locations-content */

		
		.store-wrap{
			background-size:contain;
		}
	
    } /* locations-wrap */	
}
@media(max-width:400px){
    h1{
        font-size: 40px;
    }
    .header{
        .logo{
            img{
                width: 150%;
            }
        }
    }
    .item{
        .item-text{
            h1{
                line-height: 25px;
                font-size: 20px;
                padding: 0px 7%;
                margin-top: 55px;
            }
            h2{
                line-height: 18px;
                font-size: 18px;
                padding: 0px 10%;
            }
        }
    }
    .footer-wrapper{
        .footer-logo-wrap{
            .footer-logo{
                img{
                    max-height: 200px;
                }
            }
            .footer-bottom-text{                

                p{
                    padding: 0px 2%;
                    font-size: 10px;
                }
            }
        }
    }
    .about-content-wrap{
        width: 90%;
    }
    .products-category-content{
        h3{
            padding: 0px 3%;
        }
    }
    .product-details-content{
        h1{
            line-height: 35px;
        }
        .product-details-left-wrap{
            .product-details-left{
                .tab-content{
                    a{
                        .product-enquire {
                            width: 90%;
                        } 
                    }
                } 
            } 
        }    
    }

    .contact-wrap{
        #contact-question{
            font-size: 14px;
        }
        #contact-filling{
            font-size: 20px;
            line-height: 25px;
        }
    }
}